body {
    background-color: rgb(92, 146, 182);
}

section {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.container {
    width: 550px;
    height: 300px;
    border: 2px solid black;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 50px;
}

.relogio {
    font-size:  70px;
    margin: 0% auto;
}
 
.pausado {
    color: red;
}